<table style="width:100%">
  <tr>
    <td style="width:20%; border:none"><img src="Amasya.gif" width="100" /></td>
    <td class="header">T.C.<br />
      AMASYA ÜNİVERSİTESİ<br />
      Amasya Teknik Bilimler Meslek Yüksekokulu Müdürlüğü<br />
      <br />
      STAJ BAŞVURU FORMU {{ k }}
    </td>
  </tr>
</table>

