<div class="bolum">
  <table class="aciklamalar">
    <tr>
      <td>1)</td>
      <td>Öğrencimizin iş yerinizde staj yapmasının uygun görülmesi durumunda, bu formun tarafınızca onaylanması gerekmektedir.</td>
    </tr>
    <tr>
      <td>2)</td>
      <td>Silinti, kazıntı, tahribat veya tahrifat yapılmış belgeler işleme alınmayacaktır. Lütfen belge üstünde tahribat veya tahrifat yapmayınız.    Eğer bu form öğrenci tarafından tahrip veya tahrif edilmiş şekilde iş yerinize ulaştırılmışsa lütfen onaylamayarak formun yenilenmesini sağlayınız.</td>
    </tr>
    <tr>
      <td>3)</td> 
      <td>5510 sayılı Sosyal Sigortalar ve Genel Sağlık Sigortası Kanunu’nun 5. maddesinin (b) bendi gereğince öğrencimizin zorunlu iş kazası ve meslek hastalığı sigorta primleri kurumumuzca ödenecektir.</td>
    </tr>
    <tr>
      <td>4)</td>
      <td>Zorunlu İş Yeri Kaza ve Meslek Hastalığı Sigortası Müdürlüğümüze bildirilen tarihlere göre yapıldığından mazeretsiz olarak devam edilmeyen günler için öğrenci ve iş yerleri sorumlu olacaktır. Staj sonuna eklenmeyecektir. Müdürlüğümüzün bilgisi dışında yapılan stajlar esnasında gerçekleşebilecek iş kazalarında sorumluluk öğrenciler ve iş yerlerine aittir.</td>
    </tr>
    <tr>
      <td>5)</td>
      <td>Öğrencilerimiz, toplam staj süresinin %10’undan fazla devamsızlık yapması halinde BAŞARISIZ sayılacaktır.</td>
    </tr>
    <tr>
      <td>6)</td>
      <td>Öğrencinin staja devamını takip ederek devam-devamsızlık durumunu staj sonunda Staj Sicil ve Değerlendirme Formu’na işleyiniz.</td>
    </tr>
    <tr>
      <td>7)</td>
      <td>Staj işlemleri hakkında detaylı bilgi için lütfen tbmyo.amasya.edu.tr adresini ziyaret ediniz.</td>
    </tr>
  </table>
</div>
