<table class="tablo">
  <tr>
    <td style="width:50%;vertical-align:middle; text-align:center;padding:18px">
      Yukarıda bilgileri bulunan öğrencinin belirtilen tarihler
      arasında Kurumumuzda/İşletmemizde staj yapması uygundur.
    </td>
    <td></td>
  </tr>
</table>

