<td colspan="{{ colspan }}">
  <table class="bolumbasliktablosu">
    <tr>
      <td class="bolumnumarasi">{{ bolum_numarasi }}. Bölüm</td>
      <td class="bolumbasligi">{{ bolum_basligi }}</td>
    </tr>
  </table>
</td>


