<!DOCTYPE html>
<html lang="tr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {% block jsandcss %}{% endblock %}
  </head>
  <body>
    {% block container %}{% endblock %}
    {% block scripts %}{% endblock %}
  </body>
</html>


