{% block form %}
  <form action="stajtakvimi.php" method="post" class="needs-validation" novalidate>
    <fieldset class="form-group border p-2">
      <legend class="w-auto">Öğrenci Bilgileri</legend>
      {% block ogrenci %}{% endblock %}
    </fieldset>
    <fieldset class="form-group border p-2">
      <legend>İş Yeri Bilgileri</legend>
      {% block isyeri %}{% endblock %}
    </fieldset>
    <input type="submit" class="btn btn-primary" value="Kaydet">
  </form>
{% endblock %}





