{% block weekdaystable %}
  <div class='weekdays_table'>
    <div class='weekdays_row'>
      <div class='weekdays'>PAZARTESİ</div>
      <div class='weekdays'>SALI</div>
      <div class='weekdays'>ÇARŞAMBA</div>
      <div class='weekdays'>PERŞEMBE</div>
      <div class='weekdays'>CUMA</div>
      <div class='weekdays'>CUMARTESİ</div>
      <div class='weekdays'>PAZAR</div>
    </div>
  </div>
{% endblock %}


